@charset "UTF-8";
nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 64px;
}

nav .nav1 {
  background-color: #3f51b5;
  width: calc(100% - 90px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav1 .nav1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 24px;
}

nav .nav1 .nav1-content .logo img {
  height: 34px;
}

nav .nav1 .nav1-content .nav-buttons .nav-button {
  margin-left: 16px;
}

nav .nav2 {
  height: 100%;
  width: 90px;
  background-color: #F9FAFB;
}

nav .nav2 .uni-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav2 .uni-logo img {
  margin: auto 0;
  width: 60px;
  height: 40px;
}

.auth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.auth-container .auth-card {
  width: 880px;
  height: 572px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
          box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
  border-radius: 4px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-container .auth-card .auth-part {
  width: 50%;
}

.auth-container .auth-card .login-heading {
  margin: 44px 40px 65px 24px !important;
}

.auth-container .auth-card .login-heading .heading-nav {
  margin-bottom: 40px !important;
}

.auth-container .auth-card .auth-heading {
  margin: 15px 40px 15px 24px;
}

.auth-container .auth-card .auth-heading .back-arrow {
  width: 18px;
  height: 14px;
  margin-right: 8px;
}

.auth-container .auth-card .auth-heading .heading-nav,
.auth-container .auth-card .auth-heading .heading-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container .auth-card .auth-heading .heading-back {
  cursor: pointer;
}

.auth-container .auth-card .auth-heading .heading-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.auth-container .auth-card .auth-heading .heading-nav a,
.auth-container .auth-card .auth-heading .heading-nav p {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05px;
  color: #9ea0a5;
  margin: 0 !important;
}

.auth-container .auth-card .auth-heading .heading-main h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.06px;
  color: #212529;
}

.auth-container .auth-card .auth-heading .heading-main h6 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #9ea0a5;
}

.auth-container .auth-card .form,
.auth-container .auth-card .auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth-container .auth-card .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container .auth-card #auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container .auth-card #auth input {
  height: 50px;
  width: 360px;
  margin: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 4px;
}

.auth-container .auth-card #auth input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
}

.auth-container .auth-card #auth input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
}

.auth-container .auth-card #auth input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
}

.auth-container .auth-card #auth input::placeholder {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
}

.auth-container .auth-card #auth input[type="checkbox"] {
  height: 18px;
  width: 18px;
  border: #425a70;
  margin-right: 8px;
}

.auth-container .auth-card #auth label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #9ea0a5;
  margin: auto 0;
}

.auth-container .auth-card #auth .auth-button {
  background: #1f1caf;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  width: 360px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border: none;
  letter-spacing: 1.25px;
  color: #fff;
  border-radius: 4px;
}

.auth-container .auth-card #auth button,
.auth-container .auth-card #auth .auth-button-container {
  margin-top: 24px;
}

.auth-container .auth-card #auth-pic {
  background: url("../../img/auth-pic.png");
  background-position-y: -160px;
  background-position-x: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.auth-container .auth-card #auth-pic .picture-text {
  margin-bottom: 24px;
}

.auth-container .auth-card #auth-pic .picture-text .desc {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.0571429px;
  margin-bottom: 16px;
}

.auth-container .auth-card #auth-pic .picture-text img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.auth-container .auth-card #auth-pic .picture-text p,
.auth-container .auth-card #auth-pic .picture-text span {
  margin: 0;
  color: #ffffff;
}

.auth-container .auth-card #auth-pic .picture-text .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-container .auth-card #auth-pic .picture-text .author p {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05px;
}

.auth-container .auth-card #auth-pic .picture-text .author span {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.0428571px;
}

.packs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.packs-row .pack {
  margin: 0 15px;
  width: 460px;
  height: 610px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.packs-row .pack h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 52px;
  letter-spacing: -0.06px;
  color: #1f1caf;
  margin-top: 30px;
  margin-left: 34px;
}

.packs-row .pack-price h6,
.packs-row .pack-price p {
  text-align: center;
  letter-spacing: -0.06px;
}

.packs-row .pack-price h6 {
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  color: #414142;
}

.packs-row .pack-price p {
  font-size: 18px;
  line-height: 32px;
  color: #686666;
}

.packs-row .pack-about p {
  font-size: 18px;
  line-height: 32px;
  margin: 0 64px;
  text-align: center;
  letter-spacing: -0.06px;
  color: #686666;
}

.packs-row .pack button {
  width: 320px;
  height: 55px;
  background: #1f1caf;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin: 32px 48px;
  letter-spacing: -0.06px;
  color: #ffffff;
}

.packs-row .pack button a {
  text-decoration: none;
  color: inherit;
}

.packs-row .pack-properties ul li {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.06px;
  color: #686666;
  list-style-type: none;
}

.packs-row .pack-properties ul li:before {
  content: "•";
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  width: 1em;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.dashboard .left-navigator {
  width: 270px;
  height: inherit;
  background: #ffffff;
  border: 1px solid rgba(63, 63, 68, 0.005);
  -webkit-box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
          box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
}

.dashboard .left-navigator .user-profile {
  height: 203px;
}

.dashboard .left-navigator .user-profile .user-picture {
  margin: 24px auto 16px auto;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid #e4e7eb;
  overflow: hidden;
}

.dashboard .left-navigator .user-profile .user-picture img {
  height: 100px;
  width: 100px;
}

.dashboard .left-navigator .user-profile .user-info {
  text-align: center;
}

.dashboard .left-navigator .user-profile .user-info .user-fullname {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #3a3b3f;
}

.dashboard .left-navigator .user-profile .user-info .user-position {
  font-size: 12px;
  line-height: 16px;
  color: #9ea0a5;
}

.dashboard .left-navigator .selector-buttons {
  margin: 24px 16px;
  padding: 0;
}

.dashboard .left-navigator .selector-buttons li {
  height: 46px;
  width: 238px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .left-navigator .selector-buttons li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.dashboard .left-navigator .selector-buttons li svg {
  margin-left: 16px;
  width: 18px;
  height: 18px;
}

.dashboard .left-navigator .selector-buttons li p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 0 8px;
  letter-spacing: -0.05px;
  color: #66788a;
}

.dashboard .left-navigator .selector-buttons li:hover,
.dashboard .left-navigator .selector-buttons li:active {
  background-color: #3f51b5;
}

.dashboard .left-navigator .selector-buttons li:hover p,
.dashboard .left-navigator .selector-buttons li:active p {
  color: white;
}

.dashboard .left-navigator .selector-buttons li:hover svg path,
.dashboard .left-navigator .selector-buttons li:hover svg rect,
.dashboard .left-navigator .selector-buttons li:hover g path,
.dashboard .left-navigator .selector-buttons li:hover g rect,
.dashboard .left-navigator .selector-buttons li:active svg path,
.dashboard .left-navigator .selector-buttons li:active svg rect,
.dashboard .left-navigator .selector-buttons li:active g path,
.dashboard .left-navigator .selector-buttons li:active g rect {
  fill: white;
}

.dashboard .faded-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.328974);
}

.right-main-content {
  width: 93%;
  background-color: #f9fafb;
}

.right-main-content .main-content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 57px;
  margin: 0 90px 0 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

.right-main-content .main-content-nav .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border: none;
}

.right-main-content .main-content-nav .nav-tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  width: 78px;
  margin: 0 20px;
}

.right-main-content .main-content-nav .nav-tabs .tab a {
  width: unset;
  height: 100%;
  width: 100%;
  background-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-radius: unset;
  text-transform: unset;
}

.right-main-content .main-content-nav .nav-tabs .tab a h6 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #3a3b3f;
  margin: 0;
}

.right-main-content .main-content-nav a {
  width: 152px;
  height: 40px;
  background-color: #2ed47a;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  color: #fafafa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
}

.right-main-content table {
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.right-main-content table thead {
  font-family: "Mulish", sans-serif !important;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  border: 1px solid #ebeff2;
  color: #9fa2b4;
  height: 64px;
}

.right-main-content table thead th {
  height: 64px;
}

.right-main-content .list-container {
  margin: 40px 90px 0 24px;
  height: 697px;
}

.right-main-content .list-container table {
  font-family: "Poppins", sans-serif;
}

.right-main-content .list-container table tbody tr {
  height: 64px;
  border-top: 1px solid #ebeff2;
  border-bottom: 1px solid #ebeff2;
}

.right-main-content .list-container table tbody tr .table-fullname {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #323c47;
}

.right-main-content .list-container table tbody tr td {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #707683;
}

.right-main-content .list-container table tbody tr:hover {
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-card-item {
  margin: 24px 90px 0 24px;
  background: #ffffff;
  border: 1px solid rgba(63, 63, 68, 0.005);
  -webkit-box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
          box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
  border-radius: 4px;
}

.dashboard-card-item .dashboard-card-heading {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e4e7eb;
}

.dashboard-card-item .dashboard-card-heading .plan-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #3a3b3f;
  margin-left: 24px;
}

.dashboard-card-item .dashboard-card-heading p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #66788a;
  margin-left: 16px;
  margin-bottom: 0;
}

.dashboard-card-item .dashboard-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.dashboard-card-item .dashboard-form-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.dashboard-card-item .dashboard-form-col input {
  width: 328px !important;
  height: 56px !important;
  margin: 12px 24px !important;
}

.dashboard-card-item .dashboard-card-inner {
  margin: 24px auto auto 16px;
}

.dashboard-card-item .dashboard-card-inner input {
  width: 22px;
  height: 22px;
  border-color: rgba(0, 0, 0, 0.32);
  margin-right: 12px;
  border-radius: 4px;
  border-width: 1.5px;
}

.dashboard-card-item .dashboard-card-inner label {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.4px;
  margin-right: 10px;
  margin-bottom: 15px;
  vertical-align: middle;
}

.dashboard-card-item .dashboard-card-inner .abs-limit {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard-card-item .dashboard-card-inner .abs-limit input {
  width: 328px;
  height: 56px;
}

.dashboard-card-item .dashboard-card-inner .abs-limit small {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 14px;
}

.dashboard-card-item .dashboard-card-inner .btn-save-settings {
  width: 152px;
  height: 40px;
  background-color: #3f51b5;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  margin: 24px 0;
  line-height: 16px;
  letter-spacing: 1.25px;
}

.add-button {
  width: 152px;
  height: 40px;
  background-color: #2ed47a;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  color: #fafafa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
}

.add-user .dashboard-card-inner {
  margin: unset !important;
  margin-top: 20px !important;
}

.timetable-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.timetable-heading h1 {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.05px;
  color: #3a3b3f;
  margin-right: 24px;
}

.timetable-control,
.timetable-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timetable-control {
  margin: 20px 0;
}

.timetable-control .timetable-date {
  margin: 0 16px;
}

.timetable-control .timetable-date span {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.05px;
  color: #3a3b3f;
}

.timetable-holder {
  margin: 40px 90px 0 24px;
}

.timetable-holder table {
  border: 1px solid rgba(63, 63, 68, 0.005);
}

.timetable-holder table tbody tr td {
  border: 1px solid #ebeff2;
  height: 96px;
  width: 150px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #707683;
}

.timetable-holder #time {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
}

.payment-form {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-form .payment-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-form .billing-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.payment-form input {
  height: 40px;
  width: 320px;
  border-radius: 4px;
  border: 0.5px solid grey;
  margin: 5px;
}

.payment-form button {
  width: 152px;
  height: 40px;
  background-color: #2ed47a;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  color: #fafafa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */