@charset "UTF-8";
nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 64px;
}

nav .nav1 {
  background-color: #3f51b5;
  width: calc(100% - 90px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav1 .nav1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 24px;
}

nav .nav1 .nav1-content .logo img {
  height: 34px;
}

nav .nav1 .nav1-content .nav-buttons .nav-button {
  margin-left: 16px;
}

nav .nav2 {
  height: 100%;
  width: 90px;
}

nav .nav2 .uni-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav2 .uni-logo img {
  margin: auto 0;
  width: 60px;
  height: 40px;
}

.auth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.auth-container .auth-card {
  width: 880px;
  height: 572px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
          box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
  border-radius: 4px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-container .auth-card .auth-part {
  width: 50%;
}

.auth-container .auth-card .auth-heading {
  margin: 55px 40px 40px 24px;
}

.auth-container .auth-card .auth-heading .back-arrow {
  width: 18px;
  height: 14px;
  margin-right: 8px;
}

.auth-container .auth-card .auth-heading .heading-nav,
.auth-container .auth-card .auth-heading .heading-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container .auth-card .auth-heading .heading-back {
  cursor: pointer;
}

.auth-container .auth-card .auth-heading .heading-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.auth-container .auth-card .auth-heading .heading-nav a,
.auth-container .auth-card .auth-heading .heading-nav p {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05px;
  color: #9ea0a5;
  margin: 0 !important;
}

.auth-container .auth-card .auth-heading .heading-main h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.06px;
  color: #212529;
}

.auth-container .auth-card .auth-heading .heading-main h6 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #9ea0a5;
}

.auth-container .auth-card form,
.auth-container .auth-card .auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth-container .auth-card .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container .auth-card #auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container .auth-card #auth input {
  height: 50px;
  width: 360px;
  margin: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 4px;
}

.auth-container .auth-card #auth input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding-left: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.auth-container .auth-card #auth input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding-left: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.auth-container .auth-card #auth input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding-left: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.auth-container .auth-card #auth input::placeholder {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  padding-left: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.auth-container .auth-card #auth input[type="checkbox"] {
  height: 18px;
  width: 18px;
  border: #425a70;
  margin-right: 8px;
}

.auth-container .auth-card #auth label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #9ea0a5;
  margin: auto 0;
}

.auth-container .auth-card #auth .auth-button {
  background: #1f1caf;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  width: 360px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: #fff;
}

.auth-container .auth-card #auth .auth-button-container {
  margin-top: 24px;
}

.auth-container .auth-card #auth-pic {
  background: url("../../img/auth-pic.png");
  background-position-y: -160px;
  background-position-x: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.auth-container .auth-card #auth-pic .picture-text {
  margin-bottom: 24px;
}

.auth-container .auth-card #auth-pic .picture-text .desc {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.0571429px;
  margin-bottom: 16px;
}

.auth-container .auth-card #auth-pic .picture-text img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.auth-container .auth-card #auth-pic .picture-text p,
.auth-container .auth-card #auth-pic .picture-text span {
  margin: 0;
  color: #ffffff;
}

.auth-container .auth-card #auth-pic .picture-text .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-container .auth-card #auth-pic .picture-text .author p {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.05px;
}

.auth-container .auth-card #auth-pic .picture-text .author span {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.0428571px;
}

.packs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.packs-row .pack {
  margin: 0 15px;
  width: 460px;
  height: 610px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.packs-row .pack h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 52px;
  letter-spacing: -0.06px;
  color: #1f1caf;
  margin-top: 30px;
  margin-left: 34px;
}

.packs-row .pack-price h6,
.packs-row .pack-price p {
  text-align: center;
  letter-spacing: -0.06px;
}

.packs-row .pack-price h6 {
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  color: #414142;
}

.packs-row .pack-price p {
  font-size: 18px;
  line-height: 32px;
  color: #686666;
}

.packs-row .pack-about p {
  font-size: 18px;
  line-height: 32px;
  margin: 0 64px;
  text-align: center;
  letter-spacing: -0.06px;
  color: #686666;
}

.packs-row .pack button {
  width: 320px;
  height: 55px;
  background: #1f1caf;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin: 32px 48px;
  letter-spacing: -0.06px;
  color: #ffffff;
}

.packs-row .pack button a {
  text-decoration: none;
  color: inherit;
}

.packs-row .pack-properties ul li {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: -0.06px;
  color: #686666;
  list-style-type: none;
}

.packs-row .pack-properties ul li:before {
  content: "•";
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  width: 1em;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.dashboard .left-navigator {
  width: 270px;
  height: 100%;
  background: #ffffff;
  border: 1px solid rgba(63, 63, 68, 0.005);
  -webkit-box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
          box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
}

.dashboard .left-navigator .user-profile {
  height: 203px;
}

.dashboard .left-navigator .user-profile .user-picture {
  margin: 24px auto 16px auto;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 1px solid black;
}

.dashboard .left-navigator .user-profile .user-info {
  text-align: center;
}

.dashboard .left-navigator .user-profile .user-info .user-fullname {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #3a3b3f;
}

.dashboard .left-navigator .user-profile .user-info .user-position {
  font-size: 12px;
  line-height: 16px;
  color: #9ea0a5;
}

.dashboard .right-main-content {
  width: 93%;
}

.dashboard .right-main-content .main-content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 57px;
  margin: 0 90px 0 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard .right-main-content .main-content-nav .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border: none;
}

.dashboard .right-main-content .main-content-nav .nav-tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  width: 78px;
  margin: 0 20px;
}

.dashboard .right-main-content .main-content-nav .nav-tabs .tab h6 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #3a3b3f;
  margin: 0;
}

.dashboard .right-main-content .main-content-nav .nav-button button {
  width: 152px;
  height: 40px;
  background-color: #2ed47a;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  color: #fafafa;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */