.dashboard {
    display: flex;
    height: 100vh;

    .left-navigator {
        width: 270px;
        height: 100%;
        background: #ffffff;
        border: 1px solid rgba(63, 63, 68, 0.005);
        box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);

        .user-profile {
            height: 203px;

            .user-picture {
                margin: 24px auto 16px auto;
                height: 100px;
                width: 100px;
                border-radius: 100%;
                border: 1px solid black;
            }

            .user-info {
                text-align: center;

                .user-fullname {
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: -0.05px;
                    color: #3a3b3f;
                }

                .user-position {
                    font-size: 12px;
                    line-height: 16px;
                    color: #9ea0a5;
                }
            }
        }
    }

    .right-main-content {
        width: 93%;

        .main-content-nav {
            display: flex;
            height: 57px;
            margin: 0 90px 0 24px;
            align-items: center;
            justify-content: space-between;

            .nav-tabs {
                display: flex;
                height: 100%;
                border: none;

                .tab {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: inherit;
                    width: 78px;
                    margin: 0 20px;

                    h6 {
                        text-align: center;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: -0.05px;
                        color: #3a3b3f;
                        margin: 0;
                    }
                }
            }

            .nav-button {
                button {
                    width: 152px;
                    height: 40px;
                    background-color: #2ed47a;
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
                        0px 1px 3px rgba(0, 0, 0, 0.2);
                    color: #fafafa;
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
                        0px 1px 3px rgba(0, 0, 0, 0.2);
                    border-radius: 4px;
                    border: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}
