.timetable-heading {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    h1 {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.05px;
        color: #3a3b3f;
        margin-right: 40px;
    }
}

.timetable-control,
.timetable-date {
    display: flex;
    justify-content: center;
}

.timetable-control {
    margin: 20px 0;

    .timetable-date {
        margin: 0 16px;

        span {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.05px;
            color: #3a3b3f;
        }
    }
}

.timetable-holder {
    margin: 40px 90px 0 24px;

    table {
        border: 1px solid rgba(63, 63, 68, 0.005);
        tbody {
            tr {
                td {
                    border: 1px solid #ebeff2;
                    height: 96px;
                    width: 150px;
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: 0.01em;
                    color: #707683;
                }
            }
        }
    }

    #time {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.6);
    }
}
